<br/>
<div class="col-xs-8 col-xs-offset-2 text-center">

<h1>About</h1>
<br/>

<div class="long-text">

<p>This app was built by <a href="http://www.kellylougheed.com/">Kelly Lougheed</a>, a teacher turned web developer, with Ruby on Rails and JavaScript. The code is highly test-covered and available on <a href="https://github.com/kellylougheed/participation" target="_blank">GitHub</a>. The blog post Your Participation Points Are Real details the building of the app and contains suggestion for use.</p>

<hr/>

<p>Whether you've found a bug in my app or you're just another ed tech enthusiast, I would love to hear from you! I am available on <a href="http://www.twitter.com/kellylougheed" target="_blank">Twitter</a> and by email at <a href="mailto:hello@kellylougheed.com">hello[at]kellylougheed[dot]com</a>.

</div>

</div>
