<br/>
<div class="col-xs-8 col-xs-offset-2 text-center">

<h1>About</h1>
<br/>

<div class="long-text">

<p>This app was built by <a href="http://www.kellylougheed.com/">Kelly Lougheed</a>, a teacher turned web developer, with Ruby on Rails, JavaScript, and TDD (test-driven development). View the code on <a href="https://github.com/kellylougheed/participation" target="_blank">GitHub</a> or read the blog post <a href="http://kellylougheed.com/blog/participation-points-real/" target="_blank">Your Participation Points are Real</a>, which tells the story and philosophy behind the app.</p>

<hr/>

<p>Whether you have a suggestion for the app or you're a teacher, engineer, or ed tech enthusiast, I would love to hear from you! I am available on <a href="http://www.twitter.com/kellylougheed" target="_blank">Twitter</a> and by email at <a href="mailto:hello@kellylougheed.com">hello[at]kellylougheed[dot]com</a>.

</div>

</div>
