<br/>
<div class="col-xs-10 col-xs-offset-1 text-center">

<h2>Grading students on participation can be a <span class="red">great idea</span>.</h2>
<br/>

<p>You can <span class="red">buffer low grades</span> in challenging classes and <span class="red">reward</span> lower-performing students who give their best effort.</p>

<p>But <span class="red">how do you grade participation</span> without just giving everyone a 100?</p>
<br/>

<h3><span class="red">This app</span> will help you.</h3>
<br/>

<%= image_tag 'add-new-class-cropped.png', class: 'img-responsive' %>

<br/><br/>

<%= image_tag 'gradebook.png', class: 'img-responsive' %>

<br/><br/>

<h1><%= link_to 'Get started today!', new_user_registration_path %></h1>

<br/><br/>

</div>