<br/>
<div class="col-xs-10 col-xs-offset-1">

<h2>Grading students on participation can be a <span class="red">great idea</span>.</h2>
<p>As long as you give credit for both quiet engagement and active participation, you can reward lower-performing students who give their best effort. </p>

<h3>But how do you <span class="red">quantify</span> participation?</h3><br/>
<h2 class="red">This app will help you.</h2>

</div>