/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url(//fonts.googleapis.com/css?family=Oswald:300);

body {
  font-family: 'Helvetica Neue', arial;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0 auto;
}

nav.navbar {
  margin: 0;
}

a.navbar-brand:link, a.navbar-brand:visited, a.navbar-brand:active {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 3.5em;
  text-transform: uppercase;
  color: #CE0000;
  margin: -20px 0 -20px 0;
}

a.navbar-brand:hover {
  color: #8B0000;
}

ul.nav.navbar-nav li {
  margin: 10px 0;
}

ul.nav.navbar-nav a {
  color: #777;
  padding: 0 20px;
}

ul.nav.navbar-nav a:hover, ul.nav.navbar-nav a:focus {
  background: none;
  color: #333;
}

ul.nav.navbar-nav.nav-right {
  float: right !important;
}

.hero {
  background: url('hero.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  margin: 0;
}

.textbox {
  font: 'Helvetica Neue', helvetica;
  color: white;
  text-align: center;
  font-weight: 100;
  position: relative;
  max-width: 700px;
  top: 100px;
  margin: 0 auto;
  padding: 10px;
  z-index: 0;
}

.textbox h1 {
  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}

.textbox span {
  color: black;
  background: rgba(255,255,0,.95);
  padding: 5px;
  letter-spacing: 0;
  line-height: 50px;
  border-radius: 2px;
}

div.content {
  width: 80%;
  margin: 0 auto;
}

h1, h2 {
  font-weight: 100;
  margin: 0;
}

h3, h4, h5 {
  font-weight: 200;
}

h1 {
  color: red;
  font-size: 2.8em;
  letter-spacing: 5px;
}

h2 {
  font-size: 2em;
}

p.alert {
  margin: 0;
  padding: 15px;
}

a, a:link, a:active, a:visited, span.link {
  color: #CE0000;
  text-decoration: none;
}

a:hover, span.link:hover {
  color: #8B0000;
  cursor: pointer;
}

.btn, .btn:focus {
  letter-spacing: 2px;
  color: white;
  background-color: #CE0000;
  font-weight: 300;
  padding: 8px;
  border-radius: 5px;
  font-size: .9em;
}

.btn-student {
  background: #ffffff;
  color: #333333;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.btn-student:hover {
  background: #eeeeee;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: #8B0000;
  cursor: pointer;
}

.btn-small {
  font-size: 1.5em;
  padding: 2px 6px;
}

.btn-close {
  color: #777;
  background-color: #eee;
  border: 1px solid #ddd;
}

.btn-close:hover {
  color: #777;
  background-color: #ddd;
}

.required, .optional, .modal-title {
  font-weight: 200;
}

.modal-title {
  text-align: left;
  font-size: 1.5em;
}

div.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.class {
  width: 33%;
  float: left;
}

.class-inner {
  background-color: #eee;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  a {
    color: #777;
  }
}

.class-inner:hover {
  background-color: #ddd;
  a {
    color: #111;
  }
}

div.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

div.card {
  margin-bottom: 10px;
}

.plus, .minus {
  color: red;
}

.delete, .reset {
  color: grey;
}

.plus:hover, .minus:hover {
  color: #8B0000;
  cursor: pointer;
}

.delete:hover, .reset:hover {
  color: #000000;
  cursor: pointer;
}

input[type="text"], input.string, textarea, input.form-control {
  letter-spacing: 1px;
  font-size: 1.5em !important;
  border: 1px solid #ddd !important;
}

img {
  display: block;
  margin: auto;
  padding: 10px;
  border: 1px solid #ddd;
  max-width: 100%;
}

input#comment_auto_send {
  margin-top: -5px;
  margin-left: 5px;
}

a.btn-get-started {
  font-size: 1.75em;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: #CE0000;
}

a.btn-get-started:hover {
  border: none;
  background: #8B0000;
}

.long-text {
  line-height: 25px;
}

::selection {
  background-color: #ffff00;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1px;
  /* Set the fixed height of the footer here */
  height: 20px;
  background: #fff;
  text-align: center;
  font-size: .7em;
  color: #333;
}

footer a {
  color: #333;
  border: none;
}

footer a:hover {
  color: #333;
  border: none;
}

@media (max-width: 1024px) {
  a.navbar-brand:link, a.navbar-brand:visited, a.navbar-brand:active, a.navbar-brand:hover {
      font-size: 3em;
      margin-top: -20px;
    }
  .class {
    width: 50%;
  }
  .btn-get-started {
    font-size: 1.5em;
  }
}

@media (max-width: 767px) {
  .hero {
    height: 300px;
  }
  .textbox {
    top: 30px;
  }
  .class {
    width: 100%;
  }
  .btn-get-started {
    font-size: 1em;
  }
  a.navbar-brand:link, a.navbar-brand:visited, a.navbar-brand:active, a.navbar-brand:hover {
    font-size: 3em;
    margin-top: -20px;
  }
}
