/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Oswald:300);

body {
  font-family: 'Helvetica Neue', arial;
  font-weight: 200;
  letter-spacing: 1px;
}

.navbar {
  margin: 0;
  z-index: 1;
}

.navbar-default a.navbar-brand:link, .navbar-default a.navbar-brand:visited, .navbar-default a.navbar-brand:active {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 3.5em;
  text-transform: uppercase;
  color: #CE0000;
  margin-top: 3px;
}

.navbar-default a.navbar-brand:hover {
  color: #8B0000;
}

.hero {
  background: url('hero.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.textbox {
  font: 'Helvetica Neue', helvetica;
  color: white;
  text-align: center;
  font-weight: 100;
  position: relative;
  max-width: 600px;
  top: 100px;
  margin: 0 auto;
  padding: 10px;
  z-index: 0;
}

.textbox h1 {
  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}

.textbox span {
  color: black;
  background: rgba(255,255,0,.95);
  padding: 5px;
  letter-spacing: 0;
  line-height: 50px;
  border-radius: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 0;
}

h1 {
  color: red;
  font-size: 3em;
  letter-spacing: 5px;
}

.modal-title {
  text-align: left;
  font-weight: 200;
}

.red {
  color: red;
}

.bold {
  font-weight: 200;
}

.optional, .required {
  font-weight: 400;
}

p.alert {
  margin: 0;
}

a, a:link, a:active, a:visited, span.link {
  color: #CE0000;
  text-decoration: none;
}

a:hover, span.link:hover {
  color: #8B0000;
  cursor: pointer;
}

.btn, .btn:focus {
  letter-spacing: 2px;
  color: white;
  background-color: #CE0000;
}

.btn:hover {
  color: white;
  background-color: #8B0000;
}

.btn-small {
  font-size: .9em;
  padding: 2px 6px;
}

.class {
  width: 80%;
  background-color: #eeeeee;
  padding: 10px;
  margin: 0 auto;
  border: 1px dotted #dddddd;
  a {
    color: #777777;
  }
  a:hover {
    color: #111111;
  }
}

.class:hover {
  background-color: #dddddd;
}

.roster {
  max-width: 90%;
  margin: 0 auto;
  font-size: 1.2em;
  th {
    text-align: center;
  }
  td {
    width: 16.25%;
  }
  td.student {
    text-align: left;
    width: 35%;
  }
}

.plus, .minus {
  font-size: 1.3em;
  color: red;
}

.plus:hover, .minus:hover {
  color: #8B0000;
  cursor: pointer;
}

input, textarea {
  letter-spacing: 1px;
}

img {
    display: block;
    margin: auto;
    padding: 10px;
    border: 1px solid #aaaaaa;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

input#comment_auto_send {
  margin-top: -5px;
  margin-left: 5px;
}

.long-text {
  line-height: 25px;
}

::selection {
  background-color: #ffff00;
}

@media (max-width: 1024px) {
  .roster {
    width: 100%;
  }
  .percentage {
    display: none;
  }
  .roster td {
    width: 20%;
  }
  .roster td.student {
    width: 40%;
  }
}

@media (max-width: 767px) {
  .hero {
    height: 300px;
  }
  .textbox {
    top: 30px;
  }
  .navbar-default a.navbar-brand:link, .navbar-default a.navbar-brand:visited, .navbar-default a.navbar-brand:active, .navbar-default a.navbar-brand:hover {
    font-size: 3em;
  }
  #total-points {
    display: none;
  }
  .control-panel {
    display: none;
  }
  .roster td {
    width: 25%;
  }
  .roster td.student {
    width: 50%;
  }
}
