// Place all the styles related to the classes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Helvetica Neue', arial;
  font-weight: 200;
  letter-spacing: 4px;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

h1 {
  color: red;
  font-weight: 100;
  font-size: 3em;
}